<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="/stylesheets/style_v1.css">
</head>
<body>
    <div class="page-body">
        <div class="page-header">
            <div class="page-title">Welcome to KWEB Community Page!</div>
            <div>
                <% if (user) { %>
                    <div>Hello, <%= user.username %>! <a href="/auth/logout">Logout</a></div>
                    <div></div>
                <% } else { %>
                    <div><a href="/auth/login">Login</a></div>
                <% } %>
            </div>
        </div>
        <ul>
            <li><a href="/articles">View Articles</a></li>
            <li><a href="/article/compose">Compose Articles</a></li>
        </ul>
    </div>
</body>
</html>