<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/style_v1.css">
</head>
<body>
<div class="page-body">
    <div class="page-header">
        <div class="page-title">Login - KWEB Community</div>
    </div>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td><label for="id">ID:</label></td>
                    <td><input id="id" name="id" type="text"/></td>
                </tr>
                <tr>
                    <td><label for="pw">PW:</label></td>
                    <td><input id="pw" name="pw" type="password"/></td>
                </tr>
            </table>
            <input type="submit" value="Login">
        </form>
        <div>Not a member? <a href="/auth/register">Register</a></div>
    </div>
</div>
</body>
</html>